<tr>
  <td><%= link_to news_source.title, news_source.link, target: "_blank" %> <span class="badge badge-success"><%= "Added to feed" if news_source.is_accepted %></span> </td>
  <td><span id="likes-<%= news_source.id %>" class="badge badge-primary"><%= news_source.likes.count %>
  </span>
  <% unless news_source.liked_by_liker?(@liker) %>
    <a href="/news_sources/<%= news_source.id %>/like" data-remote="true"> <i class="fas fa-thumbs-up"></i></a>
    <% end %>
  </td>
</tr>
