<style media="screen">
  .card {
    border-width: 0;
    border-radius: 0;
  }
  .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .card-body {
    padding: 10px 0;
  }
</style>


<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card mb-5">
          <img src="<%= post.image_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class = 'text-uppercase text-muted'>
              Artificial Intelligence
            </h6>
            <h2 class="card-title mt-4 mt-sm-0">
              <a class="text-primary" href="<%= post_path(post) %>"><%= post.title %></a>
            </h2>
            <p class="text-muted">
              <%= post.pub_date.strftime('%d %B %Y') %>
            </p>
            <div class="card-text mt-4 mb-3 d-md-none">
              <p><%= post.intro %></p>
            </div>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
