<% if params[:confirmed] %>
Thanks, you're subscribed.
<% end %>
<p id="notice"><%= notice %></p>
<h1>AI NewsBot</h1>
<p style="text-align:justify">The AI NewsBot is a curated Artificial Intelligence news aggregator. The AI NewsBot automatically fetches AI News & Research from high-quality and interesting sources. It then updates the News Feed every day and sends a FREE email to subscribers at 7am on the days they have chosen.<br />
<br />
My friend, <a href="https://www.peterargent.com/">Pete</a>, and I wanted to build a system that automatically sends an email summary of the AI news sources that we routinely check. After using it ourselves, we found it very useful for staying informed and saving time. So, we’ve decided to share the AI NewsBot by enabling you to subscribe for FREE and receive emails on the days you want.<br />
<br />
If there are AI news sources that you would like to see included, please <a href="#suggest">suggest a news source</a> and fill out the form at the bottom of the page. Alternatively, if the news source has already been suggested, click the ‘Like’ button for that source. </p>
<div class="row">
  <div class="col-md-9">
  <% @categories.each do |cat| %>
    <div class="card mt-3">
      <div class="card-body">
        <h4><%= cat.title %></h4>
        <table class="table">
          <tbody>
            <% cat.latest_items.each do |item| %>
              <tr>
                <td>
                  <p class = 'mb-0 pb-0'><%= link_to item.title, item.link, target: '_blank' %>
                  <small class='text-muted'>(<%= link_to item.host, item.host, class: 'text-muted' %>)</small></p>
                  <small><%= truncate(item.description, length: 100) %></small>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <div class="card mt-3" id="suggest">
    <div class="card-body">
      <h2>Suggest a news source</h2>
      <%= render "news_sources/form" %>
    </div>
  </div>
  <div class="alert alert-success mt-3" role="alert" id="news" style="display:none;">
    <p>Thanks for submitting a news source!</p>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h2>Suggested news sources</h2>
      <table class="table">
        <thead>
          <tr>
            <th>News source</th>
            <th>Likes</th>
          </tr>
        </thead>

        <tbody id="news_sources">
          <% @news_sources.each do |news_source| %>
            <%= render partial: 'news_sources/news_source', locals: {news_source: news_source} %>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="col-md-3 ml-auto">
    <div class="card">
      <div class="card-body">
        <h4>Subcribe to the AI NewsBot</h4>
        <%= render "subscribers/form" %>
      </div>
    </div>
    <div class="alert alert-success mt-3" role="alert" id="thanks" style="display:none;">
      <p>Thanks! Your AI news is on its way!</p>
    </div>
  </div>
</div>


<!-- Sample tweet card -->
<!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">What are the basic concepts of a <a href="https://twitter.com/hashtag/MachineLearning?src=hash&amp;ref_src=twsrc%5Etfw">#MachineLearning</a>?<a href="https://twitter.com/hashtag/DataScience?src=hash&amp;ref_src=twsrc%5Etfw">#DataScience</a> <a href="https://twitter.com/hashtag/bigdata?src=hash&amp;ref_src=twsrc%5Etfw">#bigdata</a> <a href="https://twitter.com/Fisher85M?ref_src=twsrc%5Etfw">@fisher85m</a> <a href="https://twitter.com/hashtag/DataAnalytics?src=hash&amp;ref_src=twsrc%5Etfw">#DataAnalytics</a> <a href="https://twitter.com/hashtag/ArtificialIntelligence?src=hash&amp;ref_src=twsrc%5Etfw">#ArtificialIntelligence</a> <a href="https://twitter.com/hashtag/AI?src=hash&amp;ref_src=twsrc%5Etfw">#AI</a> <a href="https://twitter.com/hashtag/ML?src=hash&amp;ref_src=twsrc%5Etfw">#ML</a> <a href="https://twitter.com/hashtag/DL?src=hash&amp;ref_src=twsrc%5Etfw">#DL</a> mt: <a href="https://twitter.com/Fisher85M?ref_src=twsrc%5Etfw">@Fisher85m</a> <a href="https://t.co/uom3i4ltKE">pic.twitter.com/uom3i4ltKE</a></p>&mdash; Casey Welch (@CaseyAWelch) <a href="https://twitter.com/CaseyAWelch/status/1084640571707322369?ref_src=twsrc%5Etfw">January 14, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
