<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table class='table'>
  <thead>
    <tr>
      <th width='50%'>Title</th>
      <th>Pub date</th>
      <th>Feed source</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item.link, target: "_blank" %></td>
        <td><%= item.pub_date.strftime('%d %b %y') if item.pub_date %></td>
        <td><%= item.feed_source.title %></td>
        <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_item_path(item) %></td>
        <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, class: 'btn btn-danger' %>
