<p id="notice"><%= notice %></p>

<h1>Subscribers <span class='badge badge-primary'><%= @subscribers.active.count %></span> </h1>

<table class='table'>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Confirmed</th>
      <th>Subscribed</th>
      <th>Days</th>
      <th>Edit</th>
      <th>Delete</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.first_name %></td>
        <td><%= subscriber.last_name %></td>
        <td><%= subscriber.email %></td>
        <td><%= subscriber.is_confirmed %></td>
        <td><%= subscriber.is_subscribed %></td>
        <td><% subscriber.day_of_weeks.each do |d| %><%= d.id %><% end %></td>
        <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_subscriber_path(subscriber) %></td>
        <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscriber', new_subscriber_path, class: 'btn btn-danger' %>
