
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :intro %>
    <%= f.input :tag_list %>
    <%= f.input :body %>
    <%= f.input :image %>
    <%= f.input :pub_date %>
    <%= f.input :is_published %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
