<% content_for :title, @post.title %>
<style media="screen">
  .text-justify {
    text-align: justify;
  }
  .post-title {
    padding: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    height: 100%;
    border-width: 1px;
    border-color: #ecf0f1 #ecf0f1 #ecf0f1 #fff;
}
.c-widget {
    padding: 32px;
    border-left: 1px solid #ecf0f1;
    border-right: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
    counter-reset: widget;
}
.c-widget__title {
    padding-left: 8px;
    margin-bottom: 28px;
    line-height: 1;
    letter-spacing: 2px;
    border-left: 2px solid #b70038;
    font-size: 16px;
    text-transform: uppercase;
}
.c-dropcap {
    margin-right: 8px;
    color: #b70038;
}
.c-tags a {
    display: inline-block;
    padding: 8px 20px;
    margin: 0 8px 8px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: Rubik,Helvetica,Arial,sans-serif;
    line-height: 25px;
    color: #5d738d;
    background-color: #f4f6f8;
    -webkit-transition: .5s;
    transition: .5s;
}
</style>

<div class="row bg-light p-0 align-items-end">

  <!-- POST IMAGE -->
  <div class="col-md-8 p-0">
    <img src="<%= @post.image_url %>" class="img-fluid" alt="<%= @post.title %>">
  </div>

  <!-- POST TITLE -->
  <div class="col-md-4 p-0">
    <div class="post-title">
      <h1 class="">
        <%= @post.title %>
      </h1>
      <p class="text-muted"><%= @post.pub_date.strftime('%d %B %Y') %></p>
    </div>
  </div>
</div>

<div class="row">

  <!-- POST CONTENT -->
  <div class="col-md-8 pl-0 pr-5 pt-5 trix-content text-justify">
    <%= @post.body.html_safe %>
  </div>

  <!-- SIDEBAR CONTENT -->
  <div class="col-md-4 p-0">
    <div class="c-widget text-center">
      <h4>Nik Dawson</h4>
    </div>
    <div class="c-widget">
      <div class="c-widget__title">
        <h3>Recent Articles</h3>
      </div>
      <% @recent_articles.each do |post| %>
      <div class="row align-items-center p-1">
        <div class="col-6">
          <h6><%= link_to post.title, post, class: 'text-dark' %></h6>
        </div>
        <div class="col-6">
          <img src="<%= post.image_url %>" class="mr-3" alt="<%= post.title %>" width="100%">
        </div>
      </div>
      <hr>
      <% end %>
    </div>
    <div class="c-widget">
      <div class="c-widget__title">
        <h3>Tags</h3>
      </div>
      <div class="c-tags">
        <% @tags.each do |tag| %>
          <%= link_to tag, root_path(tag: tag.name) %>
        <% end %>
      </div>
    </div>


  </div>
</div>
