
<%= simple_form_for(@site) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :host, label: 'The domain for this site' %>
    <%= f.input :admin_email %>
    <%= f.input :logo, label: 'Link to logo image' %>
    <%= f.input :favicon_link %>
    <%= f.input :intro, label: 'An introduction about your NewsBot (HTML accepted)', input_html: {rows: 5} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-danger' %>
  </div>
<% end %>
