<%= simple_form_for(@feed_source, local: true) do |form| %>
  <% if feed_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed_source.errors.count, "error") %> prohibited this feed_source from being saved:</h2>

      <ul>
      <% feed_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form.association :category %>
<%= form.input :title %>
<%= form.input :link %>
<%= form.input :num_articles %>
<%= form.input :feed_type %>
<%= form.input :description %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
