<p id="notice"><%= notice %></p>

<h1>Feed Sources</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Feed type</th>
      <th>Num articles</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @feed_sources.each do |feed_source| %>
      <tr>
        <td><%= link_to feed_source.title, feed_source %></td>
        <td><%= feed_source.link %></td>
        <td><%= feed_source.feed_type %></td>
        <td><%= feed_source.num_articles %></td>
        <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_feed_source_path(feed_source) %></td>
        <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, feed_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed Source', new_feed_source_path, class: 'btn btn-danger' %>
