<p id="notice"><%= notice %></p>

<h1>Feed Sources</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Feed type</th>
      <th>Num articles</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feed_sources.each do |feed_source| %>
      <tr>
        <td><%= feed_source.title %></td>
        <td><%= feed_source.link %></td>
        <td><%= feed_source.feed_type %></td>
        <td><%= feed_source.num_articles %></td>
        <td><%= feed_source.description %></td>
        <td><%= link_to 'Show', feed_source %></td>
        <td><%= link_to 'Edit', edit_feed_source_path(feed_source) %></td>
        <td><%= link_to 'Destroy', feed_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed Source', new_feed_source_path %>
