<style media="screen">

</style>
<div class="theme-main-menu theme-menu-one">
 <div class="logo"><a href="<%= root_url %>"><%= image_tag @site.logo %></a></div>
 <nav id="mega-menu-holder" class="navbar navbar-expand-lg">
   <div  class="container position-relative nav-container">
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <i class="flaticon-setup"></i>
       </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav">

            <li class="nav-item position-relative <%= 'active' if current_page?(root_path) %>">
              <a href="<%= root_url %>" class="nav-link"><i class="fas fa-home"></i>.</a>
            </li>
            <li class="nav-item position-relative <%= 'active' if current_page?(about_path) %>">
              <a href="<%= about_path %>" class="nav-link text-dark">About.</a>
            </li>
            <li class="nav-item position-relative <%= 'active' if current_page?(contact_path) %>">
              <a href="<%= contact_path %>" class="nav-link text-dark">Contact.</a>
            </li>
            <!-- <li class="nav-item position-relative">
              <a href="index.html" class="nav-link">Community.</a>
            </li>
            <li class="nav-item position-relative">
              <a href="index.html" class="nav-link">About.</a>
            </li>
            <li class="nav-item position-relative">
              <a href="index.html" class="nav-link">Contact.</a>
            </li> -->
            <li class="nav-item dropdown position-relative">
                  <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown">More...</a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= about_path %>" class="dropdown-item">Community</a></li>
                    <li><a href="<%= about_path %>" class="dropdown-item">Coaching</a></li>
                    <li><a href="<%= about_path %>" class="dropdown-item">About</a></li>
                    <li><a href="<%= contact_path %>" class="dropdown-item">Contact</a></li>
                    <li><a href="<%= new_user_session_path %>" class="dropdown-item"><i class="fas fa-sign-in-alt"></i> Register / Sign in</a></li>
                  <!-- <li><a href="blog-masonry.html" class="dropdown-item">blog masonry</a></li>
                  <li><a href="blog-details.html" class="dropdown-item">blog details</a></li>
                  <li><a href="blog-details-full-grid.html" class="dropdown-item">blog details full grid</a></li> -->
                  </ul> <!-- /.dropdown-menu -->
              </li>

         </ul>
       </div>
    </div> <!-- /.container -->
  </nav> <!-- /#mega-menu-holder -->
</div> <!-- /.theme-main-menu -->
