<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
		<meta name="keywords" content="Business design institute, workshops, design thinking, customer experience design, service design">
		<meta name="author" content="Pete Argent">
		<meta name="description" content="Business Design Institute helps small business succeed through design and technology education.">
    <%# canonical_tag -%>
		<meta name='og:image' content='images/home/ogg.png'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#233D63">
		<meta name="msapplication-navbutton-color" content="#233D63">
		<meta name="apple-mobile-web-app-status-bar-style" content="#233D63">
		<title><%= content_for?(:title) ? content_for(:title) : "Bits & Atoms" %></title>

    <%= render 'layouts/meta' %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00835e">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#00835e">



    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.18.10/slimselect.min.css" rel="stylesheet"></link>

    <%= javascript_include_tag 'head', 'data-turbolinks-track': 'reload' %>
    <!-- Fix Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="<%= asset_path 'html5shiv.js' %>"></script>
      <script src="<%= asset_path 'respond.js' %>"></script>
    <![endif]-->
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89985658-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-89985658-2');
      </script>

    <% end %>

  </head>

  <body>
    <div class="container">

      <%= yield %>
      

    </div>
  </body>
</html>
